<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.hcuufile.mapper.HcUuFileMapper">
  <resultMap id="fileMap" type="cn.hctech2006.hcuufile.bean.HcUuFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_real_name" jdbcType="VARCHAR" property="fileRealName" />
    <result column="file_url_url" jdbcType="VARCHAR" property="fileUrlUrl" />
    <result column="file_url_name" jdbcType="VARCHAR" property="fileUrlName" />
    <result column="file_upload_year" jdbcType="VARCHAR" property="fileUploadYear" />
    <result column="file_type" jdbcType="CHAR" property="fileType" />
    <result column="file_url_time" jdbcType="DATE" property="fileUrlTime" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column = "file_enable" jdbcType="VARCHAR" property="fileEnable"/>
    <result column="file_size" jdbcType="VARCHAR" property="fileSize"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hc_uu_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKey" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile">
    update hc_uu_file
    set file_real_name = #{fileRealName,jdbcType=VARCHAR},
      file_url_url = #{fileUrlUrl,jdbcType=VARCHAR},
      file_url_name = #{fileUrlName,jdbcType=VARCHAR},
      file_upload_year = #{fileUploadYear,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=CHAR},
      file_url_time = #{fileUrlTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      file_enable = #{fileEnable, jdbcType=VARCHAR},
      file_size = #{fileSize, jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile" resultMap="fileMap">
    select id, file_real_name, file_url_url, file_url_name, file_upload_year, file_type, 
    file_url_time, create_time, update_time, create_by, update_by,file_enable,file_size
    from hc_uu_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile" resultMap="fileMap">
    select id, file_real_name, file_url_url, file_url_name, file_upload_year, file_type, 
    file_url_time, create_time, update_time, create_by, update_by,file_enable,file_size
    from hc_uu_file where file_enable = #{enable}
  </select>
    <select id="selectByYear" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile" resultMap="fileMap">
      select id, file_real_name, file_url_url, file_url_name, file_upload_year, file_type,
             file_url_time, file_enable, create_time, update_time, create_by, update_by,file_size
      from hc_uu_file
      where file_upload_year = #{year} and file_enable = #{enable}
    </select>
  <insert id="insertFile" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile">
    insert into hc_uu_file (id, file_real_name, file_url_url,
                            file_url_name, file_upload_year, file_type,
                            file_url_time, create_time, update_time,
                            create_by, update_by, file_enable,file_size)
    values (#{id,jdbcType=BIGINT}, #{fileRealName,jdbcType=VARCHAR}, #{fileUrlUrl,jdbcType=VARCHAR},
            #{fileUrlName,jdbcType=VARCHAR}, #{fileUploadYear,jdbcType=VARCHAR}, #{fileType,jdbcType=CHAR},
            #{fileUrlTime,jdbcType=DATE}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE},
            #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{fileEnable, jdbcType=VARCHAR}, #{fileSize, jdbcType=VARCHAR})
  </insert>
  <select id="selectByYearAndTypeAndEnable" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile" resultMap="fileMap">
    select id, file_real_name, file_url_url, file_url_name, file_upload_year, file_type,
           file_url_time, create_time, update_time, create_by, update_by,file_enable,file_size
    from hc_uu_file
    where
    1 = 1
    <if test="fileType != null and fileType != ''">
       and file_type = #{fileType}
    </if>
    <if test="fileUploadYear != null and fileUploadYear != '' ">
      and file_upload_year = #{fileUploadYear}
    </if>
    <if test="fileEnable != null and fileEnable != ''">
      and file_enable = #{fileEnable}
    </if>
    order by file_url_time desc
  </select>
  <update id="updateFileEnableByPrimaryKey" parameterType="cn.hctech2006.hcuufile.bean.HcUuFile">
    update hc_uu_file
    set file_enable = #{fileEnable}
    where id = #{id}
  </update>
</mapper>